NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=
NEXT_PUBLIC_APP_ENV=development

# World ID Auth
NEXT_PUBLIC_WLD_CLIENT_ID=
WLD_CLIENT_SECRET=
NEXTAUTH_SECRET=

# Development
NEXTAUTH_PROVIDER=mock
MOCK_USER_ADDRESS=0x0000000000000000000000000000000000000000